﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Henn.aspx.cs" Inherits="TeineVeeb._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">


    <div>
    
        <div class="jumbotron">
            Se on hall kast
        </div>

        </div>
</asp:Content>