﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3 class="kollane">@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@if(Request.IsAuthenticated)
{
    <p>Sul on sellised albumid</p>
    foreach (var a in ViewBag.Albums)
    {
        <p>@a.Name</p>
    }
}


<div class="panel panel-primary">
    <div class="page-header">Pea</div>
    <div class="panel-body">Saba</div>
</div>