﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h2>Test</h2>
Esimene: @TempData["Esimene"] <br />
Teine: @TempData["Teine"] <br />
Kolmas: @Session["Kolmas"] <br />
Neljas: @Session["Neljas"] <br />
Nimi: @ViewBag.Nimi <br /> 


<h2>Application info:</h2>
Requests: @ViewBag.AppRequests <br />
Started: @ViewBag.AppStarted <br />
            
<h2>Session info:</h2>
Requests: @ViewBag.SesRequests <br />
Sess nr: @ViewBag.SesNr <br />
Started: @ViewBag.SesStarted <br />