﻿@using TeineMVC.Models
@{
    ViewBag.Title = "Demo";
}

<h2>Demo</h2>

<p>See on tavaline tekst</p>

<form method="post">
    <h4>Milline pilt sulle meeldib</h4>
    <div class="row">
        @foreach (ValikStruct x in ViewBag.Variandid)
        {
            <div class="col-lg-2" style="align-content:center">
                <img src="/Pictures/@(x.Valik).jpg" height="200" />
                <br />
                <input type="checkbox" name="@x.Id" value="@x.Valik" />
            </div>
        }
        <input type="hidden" name="id" value="77" />
        <select name="valik" onchange="this.form.submit()">
            <option value="">-- tee oma valik --</option>
            <option value="väga">Ta meeldib mulle väga</option>
            <option value="enamvähem">Ta meeldib mulle enamvähem</option>
            <option value="natuke">Ta meeldib mulle natuke</option>
        </select>
        @*Html.DropDownList(...) teeb samasuguseid asju*@


        @*<div class="col-lg-2" style="align-content:center">
                <img src="/Pictures/Henn 2018-2.jpg" height="200" />
                <br />
                <input type="checkbox" name="1" value="Henn 2018-2.jpg"/>
            </div>
            <div class="col-lg-2" style="align-content:center">
                <img src="/Pictures/Henn.jpg" height="200" />
                <br />
                <input type="checkbox" name="2" value="Jah"/>
            </div>
            <div class="col-lg-2" style="align-content:center">
                <img src="/Pictures/noor henn.jpg" height="200" />
                <br />
                <input type="checkbox" name="4" value="Jah" />
            </div>*@
    </div>
    <input type="submit" name="nupp" value="OK" />
    <input type="submit" name="nupp" value="Väga" />
    <input type="submit" name="nupp" value="Super" />
</form>


@if (ViewBag.Vastus != null)
{
foreach (var x in ViewBag.Vastus)
{
    <p>@x</p>
}
}

