﻿@model eKoolHelp.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameEng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameEng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameEst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameEst)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="row">
    <div class="col-lg-4">
        Selle aine õpsid:
        @foreach(eKoolHelp.Models.Person person in Model.Teachers)
        {
            <p>@person.FirstName</p>
        }
    </div>
    <div class="col-lg-4">
        @foreach(eKoolHelp.Models.Person person in ViewBag.Õpsid)
        {
            @Html.ActionLink("Lisa: " + person.FirstName, "AddTeacher", new { id = Model.Id, personId = person.Id} )
        }
    </div>
</div>

<form action="@Url.Action("AddTeacher")">
    @Html.HiddenFor(x => x.Id)
    @Html.DropDownList("personId", null, "-- vali õpetaja", new { @class="form-control"})
    <input type="submit" class="btn btn-default" />
</form>
