﻿@model IEnumerable<eKoolHelp.Models.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameEng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameEst)
        </th>
        <th>seda ainet õpetavad:</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameEng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameEst)
        </td>
        <td>
            @foreach(eKoolHelp.Models.Person õps in item.Teachers)
            {
                <p>@õps.FirstName</p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
