﻿@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Alert Type="Alert.AlertType.Light" Title="Teadaanne">
    <span>Miski pull</span>
</Alert>

<Card class="col-lg-2" id="R4" Title="Kaardi pealkiri">
    <TitleTemplate Context="title">
        <h2 class="card-title text-danger">@title</h2>
    </TitleTemplate>
    <Content>
        selle kaardi sisu
        võib olla mis tahes
    </Content>
</Card>

<TodoList Todos="@todos"></TodoList>



@code {
    IList<Todo> todos = new List<Todo>
    {
        new Todo { Text = "õpime Blazorit"},
        new Todo {Text = "kuulame samal ajal muusikat"}
    };
}
