﻿
@{
    ViewBag.Title = "Tunniplaan";
}

<h2>@(ViewBag.StudentGroup == null ? "" : ViewBag.StudentGroup.NameEst)Tunniplaan</h2>
<p>kuupäevad @ViewBag.date.ToString("(ddd) dd. MMMM yyyy") - @ViewBag.date.AddDays(6).ToString("(ddd) dd. MMMM yyyy")</p>
@*@Html.ActionLink("eelmine nädal", "Tunniplaan", new { klass = ViewBag.StudentGroupId, date = ViewBag.date.AddDays(-7) }, new { @class = "btn btn-default" })
    @Html.ActionLink("järgmine nädal", "Tunniplaan", new { klass = ViewBag.StudentGroupId, date = ViewBag.date.AddDays(7) }, new { @class = "btn btn-default" })*@
<div class="row">
    <div class="col-lg-1">
        <form method="post">
            <input type="hidden" name="date" value="@ViewBag.date.AddDays(-7).ToString("dd.MM.yyyy")" />
            <input type="hidden" value="@ViewBag.StudentGroupId" name="klass" />
            <input type="submit" value="Eesmine" class="btn btn-default" />
        </form>
    </div>
    <div class="col-lg-1">
        <form method="post">
            <input type="hidden" name="date" value="@ViewBag.date.AddDays(7).ToString("dd.MM.yyyy")" />
            <input type="hidden" value="@ViewBag.StudentGroupId" name="klass" />
            <input type="submit" value="Järgmine" class="btn btn-default" />
        </form>
    </div>

</div>

<form method="post">
    @Html.DropDownList("klass", null, "-- klass --", new { @class = "form-control", onchange = "this.form.submit()" })
    <input type="hidden" name="date" value="@ViewBag.date.ToString("dd.MM.yyyy")" />
</form>

@*siit algab tunniplaani osa*@

<style>
    .tip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tip .tiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .tip .tiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tip:hover .tiptext {
            visibility: visible;
            opacity: 1;
        }

    dialog {
        top: 28%;
        width: 400px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        border-top: 5px solid #eb9816;
        position: sticky
    }

    .klass {
        display: block;
        background-color: lightgoldenrodyellow;
        color: coral;
        border: 1px solid red;
        border-radius: 10px;
    }

    .teine {
        background-color: lightblue;
        display: none;
    }

    .kool {
        background-color: lightgreen;
        display: none;
    }
</style>

<input class="checkbox" type="checkbox" id="koguKool" checked="checked" value="kogu kool" onchange="" />kas näitan kogu kooli
<input class="checkbox" type="checkbox" id="teisedKlassid" value="kogu kool" />kas näitan ka teisi klasse


<table class="table table-bordered table-hover">
    <tr class="row">
        <th width="9%"></th>
        @foreach (DateTime päev in ViewBag.Päevad)
        {
            <th width="13%" style="background-color:lightgray">@päev.ToString("ddd dd.MM")</th>
        }
    </tr>
    @foreach (int tund in ViewBag.Tunnid)
    {
        <tr class="row" style="height:140px">
            <td>
                @tund:00
            </td>
            @foreach (DateTime päev in ViewBag.Päevad)
            {
                DateTime key = päev.AddHours(tund);
                <td onclick="showLisa(this, '@key')" style="background-color: @((päev.DayOfYear+tund)%2==0?"azure":"beige")">

                    @if (((IEnumerable<eKoolHelp.Models.Schedule>)(ViewBag.Tunniplaan[key])).Count() > 0)
                    {
                        foreach (eKoolHelp.Models.Schedule schedule in ViewBag.Tunniplaan[key])
                        {
                            <span class="tip klass @(schedule.StudentGroupId == null ? "kool" :schedule.StudentGroupId != ViewBag.StudentGroupId ? "teine" : "" )">
                                <a href="@Url.Action("RemoveSchedule", new { id=schedule.Id })" style="color:red">X</a>
                                <span onclick="showMuuda(this, '@key', @(schedule.StudentGroupId??0), @(schedule.SubjectId), @(schedule.TeacherId))">
                                    @schedule.Description @(schedule.Subject==null ? "" : $"({schedule.Subject.NameEst})")
                                </span>

                                <span class="tiptext">
                                    klass: @(schedule.StudentGroup?.NameEst)<br />
                                    õpetaja: @(schedule.Teacher?.LastName)<br />
                                    aine: @(schedule.Subject?.NameEst)
                                </span>
                            </span>
                        }
                    }
                    @*@Html.ActionLink("lisa", "AddSchedule", new { klass = ViewBag.StudentGroupId ?? 0, date = key })*@
                    @*<p onclick="window.p.innerText = '@key'; window.dateIn.value = '@key';window.lisa.style['bottom']=this.bottom;window.lisa.show();">lisa</p>*@
                    @*<p onclick="showLisa(this, '@key')">lisa</p>*@
                </td>
            }
        </tr>
    }
</table>
<dialog id="lisa" style="position:absolute;left:0">

    <form method="post" action="@Url.Action("AddSchedule")">
        <input type="text" name="Description" class="form-control" />
        @Html.DropDownList("SubjectId", null, "-- õppeaine --", new { @class = "form-control" })
        @Html.DropDownList("TeacherId", null, "-- õpetaja --", new { @class = "form-control" })
        <input type="hidden" name="Date" value="" id="dateIn" />
        @if (ViewBag.StudentGroupId != 0)
        {
            <input type="hidden" name="StudentGroupId" value="@ViewBag.StudentGroupId" />
        }
        <input type="submit" name="Save" />
    </form>
    <p id="p"></p>
    <input type="button" onclick="window.lisa.close()" value="close" />
</dialog>
<dialog id="muuda" style="position:absolute;left:0">

    <form method="post" action="@Url.Action("ChangeSchedule")">
        <input type="text" name="Description" class="form-control" id="descrIn" />
        @Html.DropDownList("SubjectId", null, "-- õppeaine --", new { @class = "form-control" })
        @Html.DropDownList("TeacherId", null, "-- õpetaja --", new { @class = "form-control" })
        <input type="hidden" name="Date" value="" id="dateInMuuda" />

        <input type="hidden" name="StudentGroupId" value="@ViewBag.StudentGroupId" />

        <input type="submit" name="Save" />
    </form>
    <p id="pMuuda"></p>
    <input type="button" onclick="window.lisa.close()" value="close" />
</dialog>
<script>
    function showLisa(t, k) {
        // kurat ma ei suuda seda dialoogi õigesse kohta panna
        var d = window.lisa;
        window.p.innerText = k;
        window.dateIn.value = k;

        d.style["bottom"] = t.bottom;
        d.style["left"] = t.left;

        d.showModal();
    }
    function showMuuda(t, k, cl, sub, teach) { // olemasolevad tuleb kaasa panna
        // kurat ma ei suuda seda dialoogi õigesse kohta panna
        var d = window.muuda;
        window.pMuuda.innerText = k;
        window.dateInMuuda.value = k;
        window.StudentGroupId.value = cl;
        window.SubjectId = sub;
        window.TeacherId = teach;
        //if(cl) document.getElementById("#StudentGroupId").value = cl;
        //if (sub) document.getElementById("#SubjectId").value = sub;
        //if (teach) document.getElementById("#TEacherId").value = teach;

        d.showModal();
    }

</script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready() {
        $(".checkbox").change() {
            ;
        }

    }
</script>