﻿@model EsimeneMVC.Models.Inimene

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inimene</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vanus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vanus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
