﻿@model EsimeneMVC.Models.AspNetUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AspNetUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lisainfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lisainfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Veelmidagi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veelmidagi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h3>Kontaktandmed:</h3>
<div>
    @foreach (EsimeneMVC.Models.Contact c in Model.Contacts)
    {
        <div class="row">
            <div class="col-lg-2"><p class="form-control">@c.Type</p></div>
            <div class="col-lg-6"><p class="form-control">@c.Data</p></div>
            <div class="col-lg-1">
                @Html.ActionLink("Kustuta", "RemoveContact", new { id = c.Id }, new { @class="btn btn-default"  })
            </div>
        </div>
    }
<div class="row">
    @using (Html.BeginForm("CreateContact", "Users", FormMethod.Post))
    {
        <input type="hidden" name="UserId" value="@Model.Id" /> 
        <div class="col-lg-2"><input type="text" name="Type" class="form-control"/></div>
        <div class="col-lg-6"><input type="text" name="Data" class="form-control" /></div>
        <div class="col-lg-1"><input type="submit" value="Lisa" class="btn btn-default" /></div>
    }
</div>

</div>
@Html.ActionLink("Lisa uus kontakt", "CreateContact", new { id = Model.Id })

