﻿@model IEnumerable<EsimeneMVC.Models.AspNetUser>
@using EsimeneMVC.Models 
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="background-color:antiquewhite">
    <tr style="background-color:lightgray">
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>Rollid:</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @foreach (AspNetRole r in ViewBag.Roles)
            {
                if (item.AspNetRoles.Contains(r))
                {
                    @Html.ActionLink(r.Name, "RemoveRole", new { id = item.Id, roleId = r.Id }, new { @class = "btn btn-default", style = "background-color:lightgreen" })
                }
                else
                {
                    @Html.ActionLink(r.Name, "AddRole", new { id = item.Id, roleId = r.Id }, new { @class = "btn btn-default", style = "background-color:pink" })
                }

            }

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
