﻿@model IEnumerable<TeineMVC.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFile.ContentType)
        </th>
        <th>Like</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFile.ContentType)
            </td>
            <td>
                @item.Likes.Count
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                <a href="@Url.Action("AddLike", new { id = item.Id })">
                    <img src="~/Pictures/like.jfif" height="20" />
                </a>
            </td>

        </tr>
    }

</table>
