﻿
@{
    ViewBag.Title = "TestRadio";
}

<h2>TestRadio</h2>

<h4>vastus oli: @ViewBag.Vastused</h4>

<h4>Esimene ksüsimus</h4>
<form method="post">
    @for (int i = 0; i < ViewBag.Kysimus1.Length;i++)
    {
        <input type="radio" name="vastus1" value="@i" /> @ViewBag.Kysimus1[i]

    }

    <h4>Esimene ksüsimus</h4>

    @foreach (string s in ViewBag.Kysimus2)
    {
        <input type="radio" name="vastus2" value="@s" /> @s


    }
    <input type="submit" value="OK"/>
</form>