﻿@model TeineMVC.Models.AspNetUser
    
@using TeineMVC.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AspNetUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

       

       
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFile.ContentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFile.ContentType)
        </dd>

    </dl>
</div>


<h2>Kasutajal on sellised rollid:</h2>
@foreach(var r in Model.AspNetRoles)
{
    @*<p>@r.Name</p>*@
    <p>@Html.ActionLink("- "+r.Name, "RemoveRole", new { id = Model.Id, roleid = r.Id, tagasi = ViewBag.Tagasi })</p>
}

<h2>Meil on üleüldse sellised rollid:</h2>
@foreach(AspNetRole r in ViewBag.Roles)
{
    
    @*<p>@r.Name</p>*@
    <p>@Html.ActionLink(("+ " + r.Name), "AddRole", new { id = Model.Id, roleid = r.Id, tagasi = ViewBag.Tagasi })</p>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
