﻿@model IEnumerable<TeineMVC.Models.AspNetUser>
@using TeineMVC.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            KAs õpetaja
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                Kasutajal on rollid: @string.Join(", ", item.AspNetRoles.Select(x => x.Name))
                <br />

                @foreach (AspNetRole r in ViewBag.Roles)
                {
                    if (item.AspNetRoles.Contains(r))
                    {
                        @Html.ActionLink(r.Name, "RemoveRole", new { id = item.Id, roleId = r.Id, tagasi = ViewBag.Tagasi }, new { @class = "btn btn-default", style = "background-color:lightgreen" })
                    }
                    else
                    {
                        @Html.ActionLink(r.Name, "AddRole", new { id = item.Id, roleId = r.Id, tagasi = ViewBag.Tagasi }, new { @class = "btn btn-default", style = "background-color:pink" })
                    }

                }

            </td>
            <td>
                @if(item.Mail?.People.FirstOrDefault()?.IsTeacher??false)
                { <p>on õpetaja</p> } else { <p>ei ole õpetaja </p>}
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@*<p class="danger">@TempData["CreateError"]</p>
    <form action="@Url.Action("NewUser", "Account")" method="post">
        <input type="text" name="FirstName" />
        <input type="text" name="LastName" />
        <input type="email" name="EMail" />
        <input type="password" name="Password" />
        <input type="password" name="ConfirmPassword" />
        <input type="submit" name="Loo uus" />
    </form>*@

@*@{ TeineMVC.Models.NewUserModel newUser = 
        (TeineMVC.Models.NewUserModel)TempData["NewUser"] ?? new NewUserModel();}
@using (Html.BeginForm("NewUser", "Account"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Create a new user</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("FirstName", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("FirstName", newUser.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("FirstName", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("LastName", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("LastName", newUser.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("LastName", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Email", newUser.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Password", newUser.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("ConfirmPassword", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("ConfirmPassword", newUser.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}*@

@Html.Action("NewUser", "Account")
