﻿@model PuhkuseHelp.Models.Vacation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vacation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Täiendavad dokumendid:</h2>
<div class="row">
    @foreach (var a in Model.Attachments)
    {
        <div class="col-lg-2">
            <a href="@Url.Action("Content", "Files", new { id = a.FileId })">
                <img src="@Url.Action("Content", "Files", new { id = a.FileId })" height="120" />
            </a>
            <p>@a.Comment</p>
        </div>
    }
</div>
<h3>Lisa dokument:</h3>
<form action="@Url.Action("AddAttachment", new { id = Model.Id})" enctype="multipart/form-data" method="post">
    <input type="hidden" name="vacationId" value="@Model.Id" />
    <input type="file" name="file" id="file" class="form-control" />
    <input type="text" name="comment" class="form-control" />
    <input type="submit" value="Lisa" class="btn btn-default" />
</form>
