﻿@model IEnumerable<EsimeneMVC.Models.Product>

@{
    ViewBag.Title = "Toodete tabel";
}

<h2>Index</h2>
<p>@ViewBag.Message</p>

<form method="post">
    @Html.DropDownList("categoryID", null, "-- kõik kategooriad --", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
    <input type="number" name="makshind" class="form-control" value="@ViewBag.makshind" />
    <input type="submit" value="otsi" class="btn btn-default" />
</form>

<p>
    @Html.ActionLink("Create New", "Create", new { categoryId = ViewBag.KategoryId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
                @*@Html.Display("ProductName")
                    <label>@item.ProductName</label>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            @*<td>
                    @Html.ActionLink("Muuda", "Edit", new { id=item.ProductID }) |
                    @Html.ActionLink("Näita", "Details", new { id=item.ProductID }) |
                    @Html.ActionLink("Kustuta", "Delete", new { id=item.ProductID })
                </td>*@
            <td>
                @Html.ActionLink("Vali", "Index", "Products", new { categoryID = ViewData["KategoryId"], productId = item.ProductID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
@if (ViewBag.productId != null)
{
    @Html.Action("Details", new { id = ViewBag.productId })
}