﻿@model EsimeneMVC.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Picture)*@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Selle kategooria tooted</h2>
<table class="table">
    @Html.ActionLink("Lisa", "Create", "Products", new { categoryId = Model.CategoryID}, new { @class = "btn btn-default" } )
    @foreach (var t in Model.Products)
    {
        <tr>
            <td>@t.ProductID</td>
            <td>@t.ProductName</td>
        </tr>
    }
</table>
