﻿@model IEnumerable<EsimeneMVC.Models.Category>

@{
    ViewBag.Title = "Index";
}
   
<p>@(System.DateTime.Today.Year + 1)</p>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>Kommentaarid:</th>
        <th></th>
    </tr>
    <!--see on veebilehel loetav kommentaar-->
    
    @foreach (var item in Model)
    {
        // see on C# kommentaar
        decimal max = item.Products.DefaultIfEmpty().Max(x => x?.UnitPrice??0);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <div style="background-color:lightgray;display:block">@Html.DisplayFor(modelItem => item.Description)</div>
                @*siia lisame tooteloetelu - peidame ära*@
                <div id="@($"Kõik{item.CategoryID}")" style="display:none" onclick="vaheta(@item.CategoryID,1)">
                    @foreach (EsimeneMVC.Models.Product p in item.Products)
                    {
                        <p style="color:@(p.UnitPrice == max?"lightcoral":"black")">@($"{p.ProductName} - {p.UnitPrice}")</p>
                        
                        @*<p style="background-color:lightcoral">@p.ProductName - @p.UnitPrice</p>*@
                    }
                </div>
                @*siis lisame teise divi - kus vaid kõige kallim toode*@
                <div id="@($"Üks{item.CategoryID}")" style="display:block;color:lightcoral;background-color:beige" onclick="vaheta(@item.CategoryID,0)">
                    @foreach (EsimeneMVC.Models.Product p in item.Products.OrderByDescending(x => x.UnitPrice).Take(1))
                    {
                        <p>@p.ProductName - @p.UnitPrice</p>
                    }
                </div>
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Picture)*@
                <img src="@Url.Action("Picture", "Categories", new { id = item.CategoryID })" />
            </td>
            <td>
                @foreach(EsimeneMVC.Models.CategoryComment comment in item.CategoryComments)
                {
                    <p>@comment.Comment</p>
                }
                <form action="/Categories/AddComment" method="post">
                    <input name="comment" />
                    <input type="hidden" name="id" value="@item.CategoryID" />
                    <input type="submit" name="Lisa" />
                </form>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
            </td>
        </tr>
        // see on C#
    }

</table>
<script>
    function vaheta(id, s) {
        var k = document.getElementById("Kõik" + id);
        var y = document.getElementById("Üks" + id);
        if (s == 0) {
            k.style["display"] = "block";
            k.style["backgroundColor"] = "beige";
            y.style["display"] = "none";
        } else {
            y.style["display"] = "block";
            y.style["backgroundColor"] = "beige";
            k.style["display"] = "none";
        }
    }
</script>
