﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Veebivorm.aspx.vb" Inherits="EsimeneVeeb.Veebivorm" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Hennu veebirakendus</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h2>Hennu asjad</h2>
            <img src="Pildid/640px-Scarabaeus_sacer.jpg" height="200" />
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            <asp:Button ID="Button1" runat="server" Text="Button" />
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        </div>
    </form>
</body>
</html>
