﻿@model IEnumerable<TeineMVC.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (User.IsInRole("Administrator"))
{
    if (ViewBag.Ootel is IEnumerable<TeineMVC.Models.AspNetUser> users && users.Count() > 0)
    {
    <h2>OOtel olev rahvas:</h2>
    <p class="text-danger">@TempData["ErrorMessage"]</p>
    <table class="table">
        @foreach (TeineMVC.Models.AspNetUser user in ViewBag.Ootel)
        {
        <tr>
            <td>@user.DisplayName</td>
            <td>@Html.ActionLink("Lisa", "AddPerson", new { id = user.Id }, new { @class = "btn btn-default" })</td>
            <td>@Html.ActionLink("Eemalda", "DenyPerson", new { id = user.Id }, new { @class = "btn btn-default" })</td>
        </tr>
        }

    </table>
    }
    else { <p>Hetkel kedagi ootel jole</p>}
}
<h2>Meil olemasolev rahvas:</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            rollid
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                
                    <img src="@Url.Action("Content", "Files", new { id = item.PictureId })" height="120" class="img-circle" />
               
            </td>
            <td>
                @*@(item.Mail?.AspNetUsers.FirstOrDefault()?.AspNetRoles.Select(x => x.Name).Join(", "))*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
