﻿<div class="card @Class">
    <div class="card-body">
        @if (!string.IsNullOrEmpty(Title))
            {
                @TitleTemplate(Title)
            }
        <p class="card-text" id="@id">@Content</p>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment Content { get; set; }
    [Parameter] public string Class { get; set; }
    [Parameter] public string id { get; set; }

    [Parameter]
    public RenderFragment<string> TitleTemplate { get; set; }
    = (t) => @<h4 class="card-title">@t</h4>;

}
