﻿<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span class="input-group-text">New Todo Item</span>
    </div>
    <input type="text" 
           class="form-control" 
           placeholder="enter text" 
           @bind-value="Text"
           @bind-value:event="oninput"
           @onkeypress="KeyPress"
           />
    <div class="input-group-append">
        <button class="btn btn-secondary @buttonDisabled" @onclick="NewItem" >Add (Enter)</button>
    </div>
</div>

@code {
    string Text { get; set; }
    string buttonDisabled => (Text?.Length??0) > 5 ? null : "disabled";

    [Parameter]
    public Action<string> OnNewItem { get; set; }

    void NewItem()
    {
        OnNewItem?.Invoke(Text);
        Text = "";
    }

    void KeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter") NewItem();
    }
}


