﻿<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center" style="width:10%">Done</th>
            <th>To do</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var todo in Todos)
        {
            <TodoItem Text="@todo.Text" Done="@todo.Done"></TodoItem>
        }
    </tbody>
</table>
<NewTodoItem OnNewItem="@OnNewItem"/>

@code {
    [Parameter] public IList<Todo> Todos { get; set; }

    void OnNewItem(string newItemText)
    {
        if (Todos != null)
        {
            Todos.Add(new Todo { Text = newItemText });
            StateHasChanged();
        }
    }
}
