﻿<tr class="todo @rowClass">
    <td class="text-center"><input type="checkbox" @bind="@Done" /></td>
    <td class="@textClass">@Text</td>
</tr>

@code {
    [Parameter]public string Text { get; set; }
    [Parameter] public bool Done { get; set; } 

    string textClass => Done ? "done text-muted" : null;
    string rowClass => Done ? "table-secondary" : null;
}
